---
import { getEntryBySlug } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const { slug } = Astro.params;

if (typeof slug !== "string") {
  return Astro.redirect("/404"); // Redirect if slug is undefined or not a string
}

const entry = await getEntryBySlug("projects", slug);

if (!entry) {
  return Astro.redirect("/404"); // Redirect if entry is not found
}

const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <div class="prose prose-lg overflow-visible p-14 mx-auto max-w-6xl mb-16">
    <Content />
  </div>
</Layout>
