---
import Layout from "../layouts/Layout.astro";
import CareerCard from "../components/CareerCard.astro";
import SkillCard from "../components/SkillCard.astro";
import { getCollection } from "astro:content";

const skillSet = await getCollection("career");

const skills = skillSet.flatMap((entry) => entry.data.skills);

---

<Layout title="Career">
  <div class="container mx-auto m-8 space-y-4 max-lg:mb-24">
    <CareerCard />
    <SkillCard skills={skills} />
  </div>
</Layout>
