---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <div class="card bg-base-200 shadow-xl mx-24 max-lg:mx-4 p-2">
    <div class="card-body">
      <h2 class="card-title text-4xl font-bold mb-5 justify-center">Contact</h2>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 justify-items-center">
        <div class="flex flex-col">
          <h3 class="text-2xl font-semibold mb-2">Information</h3>
          <div class="mb-4 flex items-center gap-2 max-lg:w-full">
            <ion-icon name="mail" class="text-2xl text-primary"></ion-icon>
            <h3 class="text-lg font-semibold">Email:</h3>
            <a
              href="mailto:tigranbalayan@me.com"
              class="hover:underline hover:text-primary">tigranbalayan@me.com</a
            >
          </div>
          <div class="mb-4 flex items-center gap-2 max-lg:w-full">
            <ion-icon name="call" class="text-2xl text-primary"></ion-icon>
            <h3 class="text-lg font-semibold">Phone:</h3>
            <a href="tel:8189132117" class="hover:underline hover:text-primary"
              >818-913-2117</a
            >
          </div>
          <div class="mb-4 flex items-center gap-2 max-lg:w-full">
            <ion-icon name="location" class="text-2xl text-primary"></ion-icon>
            <h3 class="text-lg font-semibold">Location:</h3>
            <p>Burbank, California</p>
          </div>
        </div>
        <div class="flex flex-col items-center">
          <h3 class="text-2xl font-semibold mb-4">Socials</h3>
          <div class="mb-4 flex justify-start gap-2 max-lg:w-full">
            <a href="https://github.com/TigranBalayan10" target="_blank">
              <ion-icon
                name="logo-github"
                class="btn btn-link text-5xl text-primary transition-transform duration-300 hover:-translate-y-2 rounded-lg shadow-lg"
              ></ion-icon>
            </a>
            <a
              href="https://www.linkedin.com/in/tigran-balayan-33768a132/"
              target="_blank"
            >
              <ion-icon
                name="logo-linkedin"
                class="btn btn-link text-5xl text-primary transition-transform duration-300 hover:-translate-y-2 rounded-lg shadow-lg"
              ></ion-icon>
            </a>
            <a href="https://www.x.com/tiko_102" target="_blank">
              <ion-icon
                name="logo-twitter"
                class="btn btn-link text-5xl text-primary transition-transform duration-300 hover:-translate-y-2 rounded-lg shadow-lg"
              ></ion-icon>
            </a>
            <a href="https://www.facebook.com/tigran.balayan.1" target="_blank">
              <ion-icon
                name="logo-facebook"
                class="btn btn-link text-5xl text-primary transition-transform duration-300 hover:-translate-y-2 rounded-lg shadow-lg"
              ></ion-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
