---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Tigran's Portfolio">
  <main class="flex flex-col mb-20 items-center m-5">
    <Hero />
  </main>
</Layout>
