---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-3xl">Hello World</h1>
		<button class="btn btn-primary btn-wide">Click</button>
	</main>
</Layout>
