<div class="card lg:card-side bg-base-200 shadow-xl m-4 p-5">
  <div class="flex flex-col justify-start px-8 pt-8">
    <figure class="mb-4">
      <img
        src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
        alt="Movie"
        class="w-full h-auto object-cover max-lg:p-10"
      />
    </figure>
    <a href="#" class="btn btn-outline btn-primary w-full">Download CV</a>
  </div>
  <div class="card-body lg:w-3/4">
    <div class="mb-3">
      <h2 class="text-4xl font-semibold">Tigran Balayan</h2>
      <p class="text-lg italic">Full Stack Web Developer</p>
    </div>
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-2 mb-4">
      <div class="text-lg font-semibold space-x-2">
        <span>Phone:</span>

        <a
          href="tel:+8189132117"
          class="font-normal hover:underline hover:text-primary break-words"
        >
          <span>818-913-2117</span>
        </a>
      </div>
      <div class="text-lg font-semibold space-x-2">
        <span>Location:</span>
        <span class="font-normal">Burbank, CA</span>
      </div>
      <div class="text-lg font-semibold space-x-2">
        <span>Email:</span>

        <a
          href="mailto:tigranbalayan@me.com"
          class="font-normal hover:underline hover:text-primary break-words"
        >
          tigranbalayan@me.com
        </a>
      </div>
      <div class="text-lg font-semibold space-x-2">
        <span>Job Status:</span>
        <span class="font-normal">Open for work</span>
      </div>
    </div>
    <div class="card-actions flex-grow">
      <p class="text-xl text-pretty leading-relaxed">
        Full Stack Developer skilled in React, Next.js, Node.js, and databases.
        Proficient in creating responsive UIs with Tailwind CSS and Bootstrap.
        Expertise spans frontend to backend, including GraphQL for efficient
        APIs. Delivered diverse web applications, thriving in agile
        environments. Constantly updating skills to stay current. Seeking
        challenging roles in software architecture or leadership. Passionate
        about innovative, user-centric solutions. Seamlessly navigating frontend
        and backend, I bring a holistic approach to create efficient, impactful
        applications.
      </p>
    </div>
  </div>
</div>
