---
import { Icon } from "astro-icon/components";
---

<div class="card bg-base-200 shadow-xl max-lg:mx-4 p-2">
  <div class="card-body">
    <h2 class="card-title text-4xl font-bold mb-5">Work Experience</h2>
    <div class="flex items-center gap-x-3">
      <div class="avatar max-lg:hidden">
        <div class="w-20 h-20 rounded">
          <Icon name="devicon:trello" class="text-7xl" />
        </div>
      </div>
      <div>
        <h1 class="text-2xl font-bold">Full Stack Developer</h1>
        <p class="text-lg">Freelance</p>
        <p class="text-lg">2024 Jan - Present</p>
      </div>
    </div>
    <article class="prose text-xl max-lg:text-base">
      <p>
        Full Stack Developer skilled in React, Next.js, Node.js, and databases.
        Proficient in creating responsive UIs with Tailwind CSS and Bootstrap.
        Expertise spans frontend to backend, including GraphQL for efficient
        APIs. Delivered diverse web applications, thriving in agile
        environments. Constantly updating skills to stay current. Seeking
        challenging roles in software architecture or leadership. Passionate
      </p>
    </article>
    <div class="divider"></div>
  </div>
</div>
