---
const currentPage = Astro.url.pathname;
---

<!-- Bottom Navingation for mobile view -->
<div class="hidden max-lg:btm-nav max-lg:bg-base-200">
  <a href="/" class={`btm-nav-item ${currentPage === "/" ? "active" : ""}`}>
    <ion-icon name="home" class="text-xl"></ion-icon>
    <span class="btm-nav-label">Home</span>
  </a>
  <a
    href="/projects"
    class={`btm-nav-item ${currentPage === "/projects" ? "active" : ""}`}
  >
    <ion-icon name="briefcase" class="text-xl"></ion-icon>
    <span class="btm-nav-label">Projects</span>
  </a>
  <a
    href="/about"
    class={`btm-nav-item ${currentPage === "/about" ? "active" : ""}`}
  >
    <ion-icon name="globe" class="text-xl"></ion-icon>
    <span class="btm-nav-label">Socials</span>
  </a>
</div>
<footer
  class="footer container mx-auto w-full justify-center footer-center p-6 max-lg:hidden"
>
  <nav class="flex flex-row space-x-2">
    <a>
      <ion-icon
        name="logo-github"
        class="btn btn-link text-5xl text-primary hover:text-slate-200"
      ></ion-icon>
    </a>
    <a>
      <ion-icon
        name="logo-linkedin"
        class="btn btn-link text-5xl text-primary hover:text-blue-700"
      ></ion-icon>
    </a>
    <a>
      <ion-icon
        name="logo-twitter"
        class="btn btn-link text-5xl text-primary hover:text-blue-500"
      ></ion-icon>
    </a>
    <a>
      <ion-icon
        name="logo-facebook"
        class="btn btn-link text-5xl text-primary hover:text-blue-600"
      ></ion-icon>
    </a>
  </nav>
</footer>
