<footer class="footer container mx-auto w-full p-6">
  <div class="flex flex-col lg:flex-row lg:justify-between items-center w-full">
    <div class="flex flex-col w-full lg:w-auto">
      <h2 class="text-xl font-bold mb-4 text-center lg:hidden">
        Contact Information
      </h2>
      <div class="flex flex-col lg:flex-row gap-4">
        <div class="flex items-center gap-2 w-full lg:w-auto">
          <ion-icon name="mail" class="text-2xl text-primary"></ion-icon>
          <h3 class="text-lg font-semibold">Email:</h3>
          <a
            href="mailto:tigranbalayan@me.com"
            class="hover:underline hover:text-primary">tigranbalayan@me.com</a
          >
        </div>
        <div class="flex items-center gap-2 w-full lg:w-auto">
          <ion-icon name="call" class="text-2xl text-primary"></ion-icon>
          <h3 class="text-lg font-semibold">Phone:</h3>
          <a href="tel:8189132117" class="hover:underline hover:text-primary"
            >818-913-2117</a
          >
        </div>
        <div class="flex items-center gap-2 w-full lg:w-auto">
          <ion-icon name="location" class="text-2xl text-primary"></ion-icon>
          <h3 class="text-lg font-semibold">Location:</h3>
          <p>Burbank, California</p>
        </div>
      </div>
    </div>
    <nav class="flex flex-row mt-6 lg:mt-0">
      <a href="https://github.com/TigranBalayan10" target="_blank">
        <ion-icon
          name="logo-github"
          class="btn btn-link text-4xl text-primary transition-transform duration-300 hover:-translate-y-2"
        ></ion-icon>
      </a>
      <a
        href="https://www.linkedin.com/in/tigran-balayan-33768a132/"
        target="_blank"
      >
        <ion-icon
          name="logo-linkedin"
          class="btn btn-link text-4xl text-primary transition-transform duration-300 hover:-translate-y-2"
        ></ion-icon>
      </a>
      <a href="https://www.x.com/tiko_102" target="_blank">
        <ion-icon
          name="logo-twitter"
          class="btn btn-link text-4xl text-primary transition-transform duration-300 hover:-translate-y-2"
        ></ion-icon>
      </a>
      <a href="https://www.facebook.com/tigran.balayan.1" target="_blank">
        <ion-icon
          name="logo-facebook"
          class="btn btn-link text-4xl text-primary transition-transform duration-300 hover:-translate-y-2"
        ></ion-icon>
      </a>
    </nav>
  </div>
</footer>
