---
import { Image } from "astro:assets";
import nextIcon from "../assets/icons/nextjs.svg";
import heroImage from "./image/hero-img.png";
---

<div class="hero w-full max-lg:px-5 justify-center">
  <div class="hero-content max-w-6xl flex-col lg:flex-row-reverse">
    <div class="m-5 max-lg:mx-0">
      <Image
        src={heroImage}
        class="max-w-xs max-lg:max-w-60 rounded-lg shadow-2xl mx-auto lg:mx-0"
        alt="Personal Photo"
      />
    </div>
    <div class="lg:w-1/2">
      <h1 class="text-4xl lg:text-5xl font-bold max-lg:text-center">
        Full Stack Web Developer
      </h1>
      <p class="py-6 text-lg">
        I'm a versatile full stack web developer with expertise in creating
        dynamic and responsive web applications. From front-end design to
        back-end functionality, I deliver seamless user experiences and robust
        solutions. Explore my projects to see my proficiency in various web
        technologies and frameworks. Learn more about my journey and significant
        milestones in my biography timeline. Discover my professional experience
        and download my resume in the career section. Let's collaborate and
        bring your web ideas to life!
      </p>
      <div
        class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4"
      >
        <a href="/projects" class="btn btn-primary">Explore Projects</a>
        <a href="/career" class="btn btn-secondary">Explore Career</a>
      </div>
    </div>
  </div>
</div>
