<div class="fixed top-0 left-0 right-0 z-50 bg-base-200">
  <div class="navbar container mx-auto w-full justify-between text-gray-200">
    <div class="navbar-start lg:hidden">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost">
          <ion-icon name="menu" class="text-3xl text-primary"></ion-icon>
        </div>
        <ul
          tabindex="0"
          class="menu menu-lg dropdown-content bg-base-300 rounded-box mt-4 w-64 z-[1] p-2 shadow text-gray-300"
        >
          <li><a href="/">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/career">Career</a></li>
          <li><a href="/biography">About</a></li>
        </ul>
      </div>
    </div>
    <div class="navbar-center lg:navbar-start">
      <a class="btn btn-ghost p-2" href="/">
        <img src="/tb-logo.png" alt="Tigran Logo" class="h-full" />
      </a>
    </div>
    <div class="navbar-end">
      <div class="hidden lg:flex">
        <ul class="menu menu-horizontal px-1 font-light text-lg gap-4 lg:gap-6 xl:gap-8">
          <li><a href="/">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/career">Career</a></li>
          <li><a href="/biography">About</a></li>
        </ul>
      </div>
      <a href="/projects" class="btn btn-ghost lg:hidden">
        <ion-icon name="briefcase" class="text-3xl text-primary"></ion-icon>
      </a>
    </div>
  </div>
</div>