<div class="navbar h-20 container mx-auto w-full justify-between text-gray-200">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <span class="material-icons-outlined text-3xl text-primary">
          menu
        </span>
      </div>
      <ul
        tabindex="0"
        class="menu menu-lg dropdown-content bg-base-200 rounded-box mt-4 w-64 p-2 shadow text-gray-300"
      >
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/biography">Biography</a></li>
        <li><a href="/career">Career</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost p-2">
      <img src="/tb-logo.png" alt="Tigran Logo" class="h-full" />
    </a>
  </div>
  <div class="navbar-end hidden lg:flex">
    <ul class="menu menu-horizontal px-1 font-light text-lg gap-4 lg:gap-6 xl:gap-8">
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/biography">Biography</a></li>
      <li><a href="/career">Career</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</div>