---
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
interface Props {
  skills: CollectionEntry<"skills">["data"]["skills"];
}

const { skills } = Astro.props;
---

<div class="card bg-base-300 shadow-xl max-lg:mx-4 p-2">
  <div class="card-body">
    <h2 class="card-title text-4xl font-bold mb-4">Skills</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 justify-items-center">
      {
        skills.map((skill) => (
          <div class="mb-4 w-64 max-lg:w-full">
            <div class="flex justify-between">
              <div class="flex items-center">
                <Icon name={skill.icon} class="text-xl" />
                <h3 class="text-lg font-semibold ml-1">{skill.name}</h3>
              </div>
              <div class="lg:tooltip hidden lg:tooltip-info" data-tip={skill.description}>
                <ion-icon name="information-circle-outline" class="text-xl"></ion-icon>
              </div>
            </div>
            <progress
              class="progress progress-primary"
              value={skill.value}
              max="100"
            />
          </div>
        ))
      }
    </div>
  </div>
</div>
