---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

// This function will run at build time for static generation
export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// This part will run for both SSR and static generation
const { slug } = Astro.params;
const projects = await getCollection("projects");
const entry = projects.find(project => project.slug === slug);

if (!entry) {
  return Astro.redirect("/404"); // Redirect to 404 page if project not found
}

const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <div class="prose prose-lg overflow-visible p-14 mx-auto max-w-6xl mb-16">
    <Content />
  </div>
</Layout>
